<div class="input-group">
  <input #entry aria-describedby="basic-addon2" aria-label="Search food entry or food tag"
         class="form-control"
         placeholder="Search food entry or food tag"
         type="text">

  <div class="input-group-append">
    <button (click)="searchFoodEntries(entry.value);"
            class="btn btn-outline-success" type="button">Food Entry
    </button>

    <button (click)="searchFoodTags(entry.value);"
            class="btn btn-outline-success" type="button">Food Tag
    </button>
  </div>
</div>

<div *ngIf="foodList.length != 0">
  <div *ngFor="let e of foodList" class="list-group">
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 row">{{e.foodEntry}}</h5>
        <span class="row">{{e.updatedTime}}</span>
      </div>
    </div>
  </div>
</div>

