.calendar {
  padding-top: 1%;
}

.jumbotron {
  background-image: url(pexels-vanessa-loring-5965658.jpg);
  background-size: cover;
  padding: 1% 1% 7%;
  margin-bottom: 3%;
}

.view-select {
  padding-bottom: 2em;
}

.add-food {
  margin-bottom: 2em;
}

.input-group {
  width: 85%;
  margin: auto;
  padding: 10px;
}

.pointer {
  cursor: pointer;
}

.tags {
  padding-top: 1em;
}
