<div class="container calendar">

  <div class="container">
    <div class="jumbotron">
      <app-logout></app-logout>
      <h1>FOODAPP</h1>
      <p>Easy and convenient way to track food and symptoms.</p>
    </div>
  </div>

  <div class="row text-center view-select">

    <div class="clearfix"></div>

    <div class="col-md-4">
      <div class="btn-group">
        <div (click)="updateDayEvents()" [(viewDate)]="viewDate" [view]="view" class="btn btn-primary"
             mwlCalendarPreviousView>
          Previous
        </div>
        <div (click)="updateDayEvents()" [(viewDate)]="viewDate" class="btn btn-outline-secondary" mwlCalendarToday>
          Today
        </div>
        <div (click)="updateDayEvents()" [(viewDate)]="viewDate" [view]="view" class="btn btn-primary"
             mwlCalendarNextView>
          Next
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>

    <div class="col-md-4">
      <div class="btn-group">
        <div (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month" class="btn btn-primary">
          Month
        </div>
        <div (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day" class="btn btn-primary">
          Day
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="view === 'month'">
    <app-search (searchResults)="onSearch($event)"></app-search>
  </div>

  <div *ngIf="view === 'day'" class="d-grid gap-2">
    <button (click)="createNewEntry()" class="btn btn-primary add-food" type="button">Add food entry</button>

    <div *ngFor="let e of dayFoodList" class="list-group">
      <div class="list-group">

        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{e.foodEntry}}</h5>
            <div class="float-right">
              <i (click)="handleDeleteFoodEntry(e)" class="fas fa-fw fa-trash-alt pointer"></i>
              <i (click)="updateFoodEntry(e)" class="fas fa-fw fa-pencil-alt pointer"></i>
            </div>
          </div>
          <div *ngFor="let tag of e.foodTagList">
            <p [innerHTML]="getElementTag(tag)"></p>
          </div>
          <small class="text-muted">{{e.updatedTime}}</small>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="!this.searchView">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view (dayClicked)="changeDay($event.day.date)"
                               *ngSwitchCase="CalendarView.Month"
                               [events]="events"
                               [viewDate]="viewDate">
      </mwl-calendar-month-view>
    </div>
  </div>

  <!--MODAL VIEW TO ADD FOOD ENTRY-->

  <div *ngIf="modalView">
    <app-food-entry-modal id="modal-1">
      <div class="modal-header">
        <h5 class="modal-title">Food Entry - {{this.viewDate | date:'mediumDate'}}</h5>
      </div>

      <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">

        <div class="modal-body">

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter food:</label>
            <textarea class="form-control" formControlName="foodEntry" id="exampleFormControlTextarea1"
                      rows="3"></textarea>
          </div>

          <div class="tags">
            <!-- to do -->
          </div>

          <div>
            <button (click)="addTag()" class="btn btn-outline-dark" type="button">
              Add New Tag
              <i class="fa fa-plus-circle"></i>
            </button>
          </div>

          <!-- tag form-->
          <div class="form-group col">

            <div *ngFor="let tag of ticketFormGroups; let i = index" formArrayName="newTags">

              <div [formGroupName]="i" [formGroup]="tag" class="form-row">

                <div class="form-group col">
                  <label>Tag Name</label>
                  <input class="form-control" formControlName="foodTagName" type="text">
                </div>

                <div class="form-group col">
                  <label>Color</label>
                  <select class="form-control" formControlName="foodTagColor">
                    <option selected>Choose Tag Color</option>
                    <option class="badge badge-primary"> Blue</option>
                    <option class="badge badge-success"> Green</option>
                    <option class="badge badge-danger"> Red</option>
                    <option class="badge badge-warning"> Yellow</option>
                    <option class="badge badge-light"> White</option>
                    <option class="badge badge-dark"> Black</option>
                  </select>
                </div>

                <button (click)="removeTags(i)">Remove Tag</button>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button (click)="modalService.close(); modalView = false"
                    class="btn btn-secondary" type="button">Close
            </button>
            <button (click)="modalService.close();" [disabled]="!profileForm.valid"
                    class="btn btn-primary" type="submit">Submit
            </button>
          </div>
        </div>
      </form>
    </app-food-entry-modal>
  </div>
</div>
