<div class="container calendar">

  <div class="container">
    <div class="jumbotron">
      <app-logout></app-logout>
      <h1>FOODAPP</h1>
      <p>Easy and convenient way to track food and symptoms.</p>
    </div>
  </div>

  <div class="row text-center view-select">

    <div class="clearfix"></div>

    <div class="col-md-4">
      <div class="btn-group">
        <div [(viewDate)]="viewDate" [view]="view" class="btn btn-primary" mwlCalendarPreviousView>
          Previous
        </div>
        <div [(viewDate)]="viewDate" class="btn btn-outline-secondary" mwlCalendarToday>
          Today
        </div>
        <div [(viewDate)]="viewDate" [view]="view" class="btn btn-primary" mwlCalendarNextView>
          Next
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>

    <div class="col-md-4">
      <div class="btn-group">
        <div (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month" class="btn btn-primary">
          Month
        </div>
        <div (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day" class="btn btn-primary">
          Day
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="view === 'month'">
    <app-search></app-search>
  </div>

  <div *ngIf="view === 'day'" class="d-grid gap-2">
    <button (click)="createNewEntry()" class="btn btn-primary add-food" type="button">Add food entry</button>

    <div *ngFor="let e of getFilteredEvents(events)" class="list-group">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{e.title}} - {{e.start | date:'shortTime'}}</h5>
          <i (click)="handleDeleteFoodEntry(e)" class="fas fa-fw fa-trash-alt pointer"></i>
        </div>
      </div>
    </div>
  </div>


  <div [ngSwitch]="view">
    <mwl-calendar-month-view (dayClicked)="changeDay($event.day.date)"
                             *ngSwitchCase="CalendarView.Month"
                             [events]="events"
                             [viewDate]="viewDate">
    </mwl-calendar-month-view>
  </div>


  <!--MODAL VIEW TO ADD FOOD ENTRY-->

  <div *ngIf="modalView">
    <app-food-entry-modal id="modal-1">
      <div class="modal-header">
        <h5 class="modal-title">Food Entry - {{this.viewDate | date:'mediumDate'}}</h5>
      </div>

      <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">

        <div class="modal-body">

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter food:</label>
            <textarea class="form-control" formControlName="foodEntry" id="exampleFormControlTextarea1"
                      rows="3"></textarea>
          </div>

          <div class="tags">
            <h4><span class="badge bg-success">New</span></h4>
          </div>

          <div>
            <button (click)="openTagForm()" class="btn btn-outline-dark" type="button">
              Create Tags
              <i class="fa fa-plus-circle"></i>
            </button>
          </div>

          <div *ngIf="tagForm">
            <app-create-tag-form></app-create-tag-form>
          </div>

          <div class="modal-footer">
            <button (click)="modalService.close(); modalView = false"
                    class="btn btn-secondary" type="button">Close
            </button>
            <button (click)="modalService.close();" [disabled]="!profileForm.valid"
                    class="btn btn-primary" type="submit">Submit
            </button>
          </div>
        </div>
      </form>
    </app-food-entry-modal>
  </div>
</div>
