<div class="container calendar">

  <div class="container">

    <div class="jumbotron">

      <div *ngIf="user" class="fa-pull-right">
        <a (click)="logout()" class="link-secondary" href="#">Logout</a>
      </div>

      <h1>FOODAPP</h1>
      <p>Easy and convenient way to track food and symptoms.</p>
    </div>

  </div>

  <div class="row text-center">

    <div class="clearfix"></div>

    <div class="col-md-4">
      <div class="btn-group">
        <div [(viewDate)]="viewDate" [view]="view" class="btn btn-primary" mwlCalendarPreviousView>
          Previous
        </div>
        <div [(viewDate)]="viewDate" class="btn btn-outline-secondary" mwlCalendarToday>
          Today
        </div>
        <div [(viewDate)]="viewDate" [view]="view" class="btn btn-primary" mwlCalendarNextView>
          Next
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>

    <div class="col-md-4">
      <div class="btn-group">
        <div (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month" class="btn btn-primary">
          Month
        </div>
        <div (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day" class="btn btn-primary">
          Day
        </div>
      </div>
    </div>

  </div>

  <div [ngSwitch]="view">

    <mwl-calendar-month-view (dayClicked)="dayClicked($event.day);"
                             *ngSwitchCase="CalendarView.Month"
                             [events]="events" [viewDate]="viewDate">
    </mwl-calendar-month-view>

    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [events]="events" [viewDate]="viewDate">
    </mwl-calendar-day-view>

  </div>
</div>

<div *ngIf="modalView">
  <app-food-entry-modal id="modal-1">
    <div class="modal-header">
      <h5 class="modal-title">Food Entry - {{dayTime}}</h5>
      <button (click)="modalService.close();" class="btn-close" type="button"></button>
    </div>
    <div class="modal-body">
      <p>This bootstrap modal was opened with Angular!</p>
      <p>
        <label class="form-label">Enter food:</label>
        <input [(ngModel)]="bodyText" class="form-control" type="text"/>
      </p>

      <span class="badge bg-success">Success</span>
      <span class="badge bg-info text-dark">Info</span>

      
      <!--      <button type="button" class="btn btn-primary btn-sm fa-pull-right"-->
      <!--              data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
      <!--        Add tag-->
      <!--      </button>-->

      <!--      <div class="collapse" id="collapseExample">-->
      <!--        <div class="card card-body">-->
      <!--          <span class="badge bg-info text-dark">Info</span>-->
      <!--        </div>-->
      <!--      </div>-->

    </div>
    <div class="modal-footer">
      <button (click)="modalService.close(); " class="btn btn-secondary" type="button">Close</button>
      <button (click)="modalService.close(); " class="btn btn-primary" type="button">Save</button>
    </div>
  </app-food-entry-modal>
</div>
